<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuctionHouseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6739/AuctionHouseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuctionHouseService"
                contract="AuctionHouse.IAuctionHouseService" name="BasicHttpBinding_IAuctionHouseService" />
        </client>
    </system.serviceModel>
</configuration>